<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        E-Shop - Users
    </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="css/admin/owl.carousel.min.css" rel="stylesheet">
    <link href="css/admin/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/admin/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/admin/style.css" rel="stylesheet">

    <!-- data tabel css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">


</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>E-SHOP</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    
                    <div class="ms-3">
                        <% if(locals.admin) { %>
                            <h6 class="mb-0">
                                <%= admin.email %>
                            </h6>
                            <% } %>
                                
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="/adminHome" class="nav-item nav-link "><i
                            class="fa fa-tachometer-alt me-2"></i>Dashboard</a>

                    <a href="/adminProducts" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Products</a>
                    <a href="/adminCategory" class="nav-item nav-link "><i
                            class="fa fa-keyboard me-2"></i>Categories</a>
                    <a href="/adminBrand" class="nav-item nav-link "><i class="fa fa-table me-2"></i>Brands</a>
                    <a href="/adminUser" class="nav-item nav-link active"><i class="fa fa-chart-bar me-2"></i>Users</a>
                    <a href="/orders" class="nav-item nav-link"><i class="fa fa fa-th me-2"></i>Product Orders</a>
                    <a href="/setBanner" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Banners</a>
                    <a href="/coupons" class="nav-item nav-link"><i class="fa fa-table me-2"></i>Coupons</a>

                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="/adminHome" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
                <form class="d-none d-md-flex ms-4">
                    <input class="form-control border-0" type="search" placeholder="Search">
                </form>
                <div class="col-md-6 text-center">
                    <h5 class="mt-2">USERS</h5>
                </div>
                <div class="navbar-nav align-items-center ms-auto">

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <% if(locals.admin) { %>
                                <span class="d-none d-lg-inline-flex">
                                    <%= admin.email %>
                                </span>
                            <% } else { %>
                                    <span class="d-none d-lg-inline-flex">Admin </span>
                            <% } %>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item">My Profile</a>
                            <a href="/logout" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->


            <div class="container mt-5">
                <table id="example" class="table table-striped table-bordered " style="width:100%">
                    <thead>
                        <tr>
                            <th>User Name</th>
                            <th>@Email Id</th>
                            <th>Mobile</th>
                            <th>Verified</th>
                            <th>Block/Unblock</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% for(let user of users) { %>
                            <tr>
                                <td>
                                    <%= user.name %>
                                </td>
                                <td>
                                    <%= user.email %>
                                </td>
                                <td>
                                    <%= user.mobile %>
                                </td>
                                <td>
                                    <%= user.verified %>
                                </td>
                                <% if(user.blockStatus==false) { %>
                                    <td>
                                        <button type="button" class="btn btn-danger " data-bs-toggle="modal"
                                            data-bs-target="#exampleModal<%= user._id %>">Block</button>
                                    </td>
                                    <% } else { %>
                                        <td>
                                            <button type="button" class="btn btn-success " data-bs-toggle="modal"
                                                data-bs-target="#exampleModal<%= user._id %>">Unblock</button>
                                        </td>
                                        <% } %>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>


            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            <h6> &copy; <a href="#">www.eShop.com</a>, All Right Reserved.</h6>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->

        <% for(let user of users) { %>
            <div class="modal fade" id="exampleModal<%= user._id %>" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">
                                <% if(user.blockStatus==false) { %>
                                    Block User
                                    <% } else { %>
                                        Unblock User
                                        <% } %>
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <% if(user.blockStatus==false) { %>
                            <div class="modal-body text-danger">
                                Do you want block this user...?
                            </div>
                            <% } else { %>
                                <div class="modal-body text-success">
                                    Do you want unblock this user...?
                                </div>
                                <% } %>


                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>

                                        <button type="button" onclick="editUser('<%= user._id %>')"
                                            class="btn btn-primary" data-bs-dismiss="modal">Sure</button>



                                    </div>
                    </div>
                </div>
            </div>

            <% } %>

                <!-- Back to Top -->
                <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/admin/chart.min.js"></script>
    <script src="js/admin/easing.min.js"></script>
    <script src="js/admin/waypoints.min.js"></script>
    <script src="js/admin/owl.carousel.min.js"></script>
    <script src="js/admin/moment.min.js"></script>
    <script src="js/admin/moment-timezone.min.js"></script>
    <script src="js/admin/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/admin/main.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>



    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script>
    <script>
        function editUser(id) {
            fetch('/editUser/' + id, {
                method: 'put',
                headers: {
                    'Content-type': 'application/json',
                    body: JSON.stringify({ hai: "jhj" })
                }
            })
                .then(res => res.json())
                .then(data => {

                    success: location.reload()

                })
        }
    </script>
</body>

</html>