<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>EShop - Product Detail</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/css/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/userIndex.css" rel="stylesheet">
</head>

<body>

    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark" href="">FAQs</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Help</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Support</a>
                </div>
            </div>

            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-dark pl-2" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span
                            class="text-primary font-weight-bold border px-3 mr-1">E</span>Shop</h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">

            </div>

        </div>
    </div>
    <!-- Topbar End -->
    <%- include('../partials/flash') %>
        <!-- Navbar Start -->
        <div class="container-fluid mb-5">
            <div class="row border-top px-xl-5">

                <div class="col-lg-9">
                    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                        <a href="" class="text-decoration-none d-block d-lg-none">
                            <h1 class="m-0 display-5 font-weight-semi-bold"><span
                                    class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                        </a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse"
                            data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto py-0">
                                <a href="/" class="nav-item nav-link active">Home</a>

                            </div>

                        </div>
                    </nav>





                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4 float-left ">
                                <div class="row">
                                    <div class="col-md-12">
                                        <img class="img-fluid  mx-auto d-block" alt="Responsive image"
                                            src="<%= details.images[0].url %> " alt="">
                                    </div>
                                    <div class="col-md-1">

                                    </div>
                                    <div class="col-md-5 ps-5">
                                        
                                        <button data-toggle="modal" data-target="#exampleModal"
                                            onclick="wishlist('<%= details._id %>')" class="btn rounded text-light"
                                            style=" background-color:orange;">To wishlist</button>
                                    </div>
                                    <div class="col-md-5 ">
                                        
                                        <button data-toggle="modal" data-target="#exampleModal1"
                                            onclick="cartList('<%= details._id %>')" class="btn rounded text-light"
                                            style="background-color: rgb(255, 94, 0);">Add To Cart</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 float-left mt-4">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>
                                            <%= details.name %>
                                        </h3>
                                    </div>
                                    <div class="col-md-12 pt-4">
                                        <h6>
                                            <%= details.highlights %>
                                        </h6>
                                    </div>
                                    <div class="col-md-3 pt-4">
                                        <h4>Rs.<%= details.price %>
                                        </h4>
                                    </div>
                                    <div class="col-md-3 pt-4">
                                        <h4 class="text-success">
                                            <%= details.discount %>% OFF
                                        </h4>
                                    </div>
                                    
                                    <div class="col-md-12">
                                        <h5 class=" text-danger " style="text-decoration:line-through ;">Rs.<%=
                                                details.originalPrice %>
                                        </h5>
                                    </div>
                                    <div class="col-md-12 pt-4">
                                        <h6>About this item:</h6>
                                        <p>
                                            <%= details.description %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar End -->

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Wishlist Item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <% if(user) { %>
                        <div id="message" class="modal-body text-success">

                        </div>
                        <% } else { %>
                            <div class="modal-body text-danger">
                                You are not logged in !!!
                            </div>
                            <% } %>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>


                                </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cart Item</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <% if(user) { %>
                        <div class="modal-body text-success">
                            Item added to your Cart successfully...
                        </div>
                        <% } else { %>
                            <div class="modal-body text-danger">
                                You are not logged in !!!
                            </div>
                            <% } %>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>


                                </div>
                </div>
            </div>
        </div>

        <%- include('../partials/userFooter') %>

            <script>
                function wishlist(id) {
                    fetch('/addToWishlist/' + id, {
                        method: 'get',
                        headers: {
                            'Content-type': 'application/json',
                            body: JSON.stringify({ hai: "jhj" })
                        }
                    })
                        .then(res => res.json())
                        .then(data => {
                            if (data.success == true) {
                                document.getElementById('message').innerHTML = "<div class='text-success'> Item added to your Wishlist successfully...</div>"
                            } else {
                                document.getElementById('message').innerHTML = "<div class='text-danger'>Item already exist in your Wishlist !!!</div>"
                            }
                        })

                }


                function cartList(id) {
                    fetch('/addToCart/' + id, {
                        method: 'get',
                        headers: {
                            'Content-type': 'application/json',
                            body: JSON.stringify({ hai: "jhj" })
                        }
                    })
                        .then(res => res.json())

                }
            </script>