<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>EShop - Checkout</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">

    


</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row bg-secondary py-2 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark" href="">FAQs</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Help</a>
                    <span class="text-muted px-2">|</span>
                    <a class="text-dark" href="">Support</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-dark px-2" href="">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-dark pl-2" href="">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shop</h1>
                </a>
            </div>
           
           
        </div>
    </div>
    <!-- Topbar End -->


   
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/" class="nav-item nav-link">Home</a>
                            
                           
                        </div>
                        
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Checkout</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Checkout Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">
            
            <form action="/placeSingleOrder/<%= cartList._id %>" method="post">
                
            <div class="col-lg-8 float-left">
                <div class="mb-4">
                    
                    <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label>Name</label>
                            <input class="form-control" name="name" type="text" placeholder="Your Name" value="<%= user.name %> " required>
                        </div>
                        <!-- <div class="col-md-6 form-group">
                            <label>Last Name</label>
                            <input class="form-control" type="text" placeholder="Doe">
                        </div> -->
                        <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" name="email" type="text" placeholder="example@email.com" value="<%= user.email %>" required>
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input class="form-control" type="text" name="mobile" placeholder="Mobile no" value="<%= user.mobile %>" required>
                        </div>
                        <% for(let i = 0; i < address.length; i++) { %> 
                            <div class="col-md-12 form-group d-flex ">
                                <div class="col-md-1">
                                    <input class="w-75" type="radio" placeholder="House No"name="address" value="<%= address[i].houseNo %>, <%= address[i].street %>, <%= address[i].district %>, <%= address[i].state %>, <%= address[i].pincode %>" required>
                                </div>
                                <label><%= address[i].houseNo %>, <%= address[i].street %>, <%= address[i].district %>, <%= address[i].state %>, <%= address[i].pincode %></label>
                            </div>
                            <!-- <div class="col-md-6 form-group">
                                <label>Street</label>
                                <input class="form-control" type="text"name="street" placeholder="Street"value="<%= address[0].street %>" required>
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Country</label>
                                <input class="form-control" type="text" name="country" placeholder="Country" value="India" required> -->
                                
                                
                                
                                <!-- <select class="custom-select">
                                    <option selected>United States</option>
                                    <option>Afghanistan</option>
                                    <option>Albania</option>
                                    <option>Algeria</option>
                                </select> -->

                            <!-- </div>
                            <div class="col-md-6 form-group">
                                <label>District</label>
                                <input class="form-control" type="text" name="district" placeholder="District"value="<%= address[0].district %>" required >
                            </div>
                            <div class="col-md-6 form-group">
                                <label>State</label>
                                <input class="form-control" type="text" name="state" placeholder="State" value="<%= address[0].state %> " required >
                            </div>
                            <div class="col-md-6 form-group">
                                <label>ZIP Code</label>
                                <input class="form-control" type="text" name="pincode" placeholder="Pincode" value="<%= address[0].pincode %>" required >
                            </div> -->
                            <% } %> 
                        
                        
                        
                        
                        
                        
                            <!-- <div class="col-md-12 form-group">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="checkBox" id="shipto">
                                <label class="custom-control-label" for="shipto"  data-toggle="collapse" data-target="#shipping-address">Ship to different address</label>
                            </div>
                        </div> -->



                        
                    </div>
                </div>
                <!-- <div class="collapse mb-4" id="shipping-address">
                    <h4 class="font-weight-semi-bold mb-4">Shipping Address</h4>
                    <div class="row">
                        
                        <div class="col-md-6 form-group">
                            <label>Name</label>
                            <input class="form-control" type="text" name="name" placeholder="Your name" value="<%= user.name %>"  >
                        </div>
                         <div class="col-md-6 form-group">
                            <label>Last Name</label>
                            <input class="form-control" type="text" placeholder="Doe">
                        </div> -->
                        <!-- <div class="col-md-6 form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text" name="email" placeholder="example@email.com" value="<%= user.email %>" >
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Mobile No</label>
                            <input class="form-control" type="text" name="mobile" value="<%= user.mobile %> " placeholder="Mobile No"  >
                        </div>
                        <% for(let i = 1; i < 2; i++) { %> 
                        <div class="col-md-6 form-group">
                            <label>House No</label>
                            <input class="form-control" type="text" placeholder="House No"name="houseNo2" value="<%= address[1].houseNo %>"  >
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Street</label>
                            <input class="form-control" type="text"name="street2" placeholder="Street" value="<%= address[1].street %>">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>Country</label>
                            <input class="form-control" type="text" name="contry2" placeholder="Country"  value="India"> -->
                            <!-- <select class="custom-select">
                                <option selected>United States</option>
                                <option>Afghanistan</option>
                                <option>Albania</option>
                                <option>Algeria</option>
                            </select> -->
                        <!-- </div>
                        <div class="col-md-6 form-group">
                            <label>District</label>
                            <input class="form-control" type="text" name="district2" placeholder="District" value="<%= address[1].district %> ">
                        </div>
                        <div class="col-md-6 form-group">
                            <label>State</label>
                            <input class="form-control" type="text" name="state2" placeholder="State" value="<%= address[1].state %> " >
                        </div>
                        <div class="col-md-6 form-group">
                            <label>ZIP Code</label>
                            <input class="form-control" type="text" name="pincode2" placeholder="Pincode"  value="<%= address[1].pincode %> " >
                        </div>
                        <% } %> 
                    </div>
                </div> -->
            </div>
            <div class="col-lg-4 float-left">
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>

                       
                            
                        <div class="d-flex justify-content-between">
                            <p><%=cartList.name %></p>
                           
                            <p class="text-success">Rs.<%= cartList.price %> </p>
                        </div>
                            
                       
                        <hr class="mt-0">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">Rs.<%= cartList.price %> </h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Shipping</h6>
                            <h6 class="font-weight-medium">Rs.<%= shipping %> </h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2"> 
                            <h5 class="font-weight-bold">Total</h5>
                            <% grandtotal = parseInt(shipping)+parseInt(cartList.price) %> 
                            <h5 class="font-weight-bold">Rs.<%= grandtotal %> </h5>
                        </div>
                    </div>
                    
                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Payment</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="paypal"value="cod" required>
                                <label class="custom-control-label" for="paypal">COD</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" value="online" id="directcheck" required>
                                <label class="custom-control-label" for="directcheck">Online Payment</label>
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3" type="submit">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    </div>
    <!-- Checkout End -->


   <%- include('../partials/userFooter') %> 